extends layout

block content
  .SearchBox.center
    script.
      (function() {
      var cx = '010917888866130986669:gs4hpuql5qe';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
      })();
    gcse:search
  br
  br
  br
  br
  br
  h1 #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/articles/"+article._id)= article.title
      br
          
